// Специфичные стили страницы Home

.notification {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  @include res("gap", 15px);
  @include res("padding-top", 5px);
  @include res("padding-bottom", 5px);
  @include res("padding-left", 25px);
  @include res("padding-right", 25px);
  @include media(576) {
    @include resa("padding-top", 10px);
    @include resa("padding-bottom", 10px);
  }
  background: $default;
  &-icon {
    @include res("width", 20px);
    @include res("height", 20px);
    @include media(576) {
      @include resa("width", 20px);
      @include resa("height", 20px);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &-title {
    @include res("font-size", 12px);
    @include res("line-height", 15px);
    font-weight: 400;
    text-align: left;
    color: $white;
    @include media(576) {
      @include resa("font-size", 12px);
      @include resa("line-height", 15px);
    }
  }
  &-text {
    @include res("font-size", 12px);
    @include res("line-height", 15px);
    text-align: left;
    color: $white;
    font-weight: 300;
    text-align: center;
    @include media(576) {
      @include resa("font-size", 12px);
      @include resa("line-height", 15px);
    }
  }
}

.mySwiper.swiper {
  width: 100%;
  height: 100%;
  --swiper-navigation-top-offset: 95%;
  @include res("padding-bottom", 15px);

  --swiper-pagination-color: #e80029;
  --swiper-pagination-bullet-inactive-color: #f1f1f0;
  @include res("--swiper-pagination-bullet-horizontal-gap", 5px);
  @include res("--swiper-navigation-sides-offset", 70px);
  @include media(576) {
    @include resa("padding-bottom", 15px);
    @include resa("--swiper-navigation-sides-offset", 10px);
    @include resa("--swiper-pagination-bullet-horizontal-gap", 5px);
  }
  &-wrapper {
    width: 100%;
  }
}

.mySwiper .swiper {
  &-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include res("padding-bottom", 8px);
    @include media(576) {
      @include resa("padding-bottom", 8px);
    }
  }
  &-button {
    &-next,
    &-prev {
      z-index: 11;
      @include res("height", 30px);
      @include res("width", 30px);
      top: auto;
      @include res("bottom", 10px);
      border-radius: 50%;
      background-color: $default;
      transition: 0.3s all;
      @include media(576) {
        @include resa("height", 30px);
        @include resa("width", 30px);
      }
      &::after {
        @include res("font-size", 12px);
        color: $white;
        transform: translate(0.0625vw, 0.0625vw);
        @include media(576) {
          transform: translate(0.4vw, 0.3vw);
          @include resa("font-size", 12px);
        }
      }
      &:hover {
        background-color: $yellow;
      }
    }
    &-prev {
      &::after {
        transform: translate(-0.0625vw, 0.0625vw);
        @include media(576) {
          transform: translate(-0.4vw, 0.3vw);
        }
      }
    }
  }
  &-pagination {
    &-bullet {
      opacity: 1;
      @include res("width", 100px);
      @include res("height", 2px);
      @include res("border-radius", 2px);
      @include media(576) {
        @include resa("width", 35px);
        @include resa("height", 2px);
      }
    }
  }
}

.banner {
  &-box {
    width: 100%;
    margin: 0 auto;
    @include res("max-width", 1360px);
    @include res("padding-left", 20px);
    @include res("padding-right", 20px);
    @include res("height", 515px);
    @include media(576) {
      @include resa("max-width", 380px);
      @include resa("margin-top", 35px);
      margin-bottom: 0;
      @include resa("height", 675px);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-item {
    background: $beige;
    width: 100%;
    height: 100%;
    @include res("border-radius", 50px);
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res("padding-left", 70px);
    @include res("padding-right", 100px);
    @include res("gap", 40px);
    justify-content: space-between;
    align-items: center;
    @include media(576) {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      gap: 0;
    }
  }
  &__right {
    position: relative;
    @include res("width", 630px);
    @include res("height", 457px);
    @include media(576) {
      @include resa("width", 360px);
      @include resa("height", 660px);
      @include resa("margin-top", -9px);
    }
    &-img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-product {
      position: absolute;
      @include res("width", 300px);
      bottom: 0;
      right: 0;
      @include media(576) {
        @include resa("width", 200px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__left {
    @include res("width", 480px);
    @include res("height", 346px);

    background-image: url("../../img/banner-shape.png");
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    @include res("padding-top", 40px);
    @include res("padding-left", 100px);
    @include media(576) {
      background-size: 120%;
      @include resa("background-position-y", -5px);
      @include resa("padding-top", 38px);
      @include resa("padding-bottom", 34px);
      @include resa("width", 380px);
      @include resa("height", 346px);
      @include resa("padding-left", 45px);
      @include resa("padding-right", 45px);
    }
    &-title {
      @include res("max-width", 290px);
      @include res("font-size", 60px);
      @include res("line-height", 57px);
      @include media(576) {
        @include resa("max-width", 290px);
        @include resa("font-size", 60px);
        @include resa("line-height", 57px);
      }
      font-weight: 700;
      text-align: left;
      color: $white;
    }
    &-subtitle {
      @include res("margin-top", 24px);
      @include res("font-size", 22px);
      @include res("line-height", 27.5px);
      font-weight: 400;
      text-align: left;
      color: $white;
      @include res("max-width", 250px);
      @include media(576) {
        @include resa("margin-top", 19px);
        @include resa("font-size", 22px);
        @include resa("line-height", 27.5px);
        @include resa("max-width", 230px);
      }
    }
    &-btn {
      @include res("margin-left", 100px);
      @include res("margin-top", 66px);
      @include media(576) {
        @include resa("margin-left", 108px);
        @include resa("margin-top", 43px);
      }
    }
  }
}
