// Специфичные стили страницы Home

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  @include res("gap", 15px);
  @include res("padding-top", 5px);
  @include res("padding-bottom", 5px);
  background: $default;
  &-icon {
    @include res("width", 20px);
    @include res("height", 20px);
  }
  &-title {
    @include res("font-size", 12px);
    @include res("line-height", 15px);
    font-weight: 400;
    text-align: left;
    color: $white;
  }
  &-text {
    @include res("font-size", 12px);
    @include res("line-height", 15px);
    text-align: left;
    color: $white;
    font-weight: 300;
  }
}

// @include media(576) {
//   @include resa("width", 343px);

.mySwiper.swiper {
  width: 100%;
  height: 100%;
  --swiper-navigation-top-offset: 100%;
  @include res("padding-bottom", 15px);

  --swiper-pagination-color: #e80029;
  --swiper-pagination-bullet-inactive-color: #f1f1f0;
  @include res("--swiper-pagination-bullet-horizontal-gap", 5px);
  @include res("--swiper-navigation-sides-offset", 70px);

  &-wrapper {
    width: 100%;
  }
}

.mySwiper .swiper {
  &-slide {
    text-align: center;
    @include res("font-size", 18px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include res("padding-bottom", 8px);
  }
  &-button {
    &-next,
    &-prev {
      z-index: 11;
      @include res("height", 30px);
      @include res("width", 30px);
      transform: translateY(-1.2vw);
      border-radius: 50%;
      background-color: $default;
      &::after {
        @include res("font-size", 12px);
        color: $white;
        transform: translate(0.0625vw, 0.0625vw);
      }
    }
    &-prev {
      &::after {
        transform: translate(-0.0625vw, 0.0625vw);
      }
    }
  }
  &-pagination {
    &-bullet {
      opacity: 1;
      @include res("width", 100px);
      @include res("height", 2px);
      @include res("border-radius", 2px);
    }
  }
}

.banner {
  &-box {
    width: 100%;
    margin: 0 auto;
    @include res("max-width", 1360px);
    @include res("padding-left", 20px);
    @include res("padding-right", 20px);
    @include res("height", 515px);
  }
  &-item {
    background: $beige;
    width: 100%;
    height: 100%;
    @include res("border-radius", 50px);
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res("padding-left", 70px);
    @include res("padding-right", 100px);
    @include res("gap", 40px);
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    position: relative;
    @include res("width", 630px);
    @include res("height", 457px);
    &-img {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-product {
      position: absolute;
      @include res("width", 300px);
      bottom: 0;
      right: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__left {
    @include res("width", 480px);
    @include res("height", 346px);
    background-image: url(../../img/banner-shape.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include res("padding-top", 40px);
    @include res("padding-left", 100px);
    &-title {
      @include res("max-width", 290px);
      @include res("font-size", 60px);
      @include res("line-height", 57px);
      font-weight: 700;
      text-align: left;
      color: $white;
    }
    &-subtitle {
      @include res("margin-top", 24px);
      @include res("font-size", 22px);
      @include res("line-height", 27.5px);
      font-weight: 400;
      text-align: left;
      color: $white;
      @include res("max-width", 250px);
    }
    &-btn {
      @include res("margin-left", 100px);
      @include res("margin-top", 66px);
    }
  }
}
