.about {
  @include res("margin-top", 52px);
  @include res("margin-bottom", 40px);
  @include media(576) {
    @include resa("margin-top", 47px);
    @include resa("margin-bottom", 16px);
  }
  &-title {
    @include res("font-size", 40px);
    @include res("line-height", 48px);
    font-weight: 700;
    text-align: left;
    @include media(576) {
      @include resa("font-size", 40px);
      @include resa("line-height", 48px);
      text-align: center;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(576) {
      flex-direction: column;
      align-items: center;
      @include resa("gap", 40px);
    }
    &-btns {
      display: flex;
      align-items: center;
      @include res("gap", 60px);
      button.first {
        @include media(576) {
          display: none;
          @include resa("gap", 30px);
        }
      }
    }
  }
  &-text {
    @include res("margin-top", 76px);
    display: flex;
    flex-direction: column;
    @include res("gap", 12.5px);
    @include res("max-width", 580px);
    @include media(576) {
      @include resa("gap", 17.5px);
      @include resa("max-width", 380px);
      @include resa("margin-top", 47px);
    }
    p {
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 300;
      text-align: left;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
  }
  &__video {
    @include res("margin-top", 104px);

    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(576) {
      @include resa("margin-top", 39px);
      @include resa("gap", 10px);
    }
    &-top {
      position: relative;
      z-index: 2;
      @include res("max-width", 580px);
      background-color: $default;
      @include res("padding", 100px);
      @include res("padding-top", 42px);
      @include res("padding-bottom", 46px);
      @include res("font-size", 18px);
      @include res("line-height", 22.5px);
      @include res("border-radius", 50px);
      border-bottom-left-radius: 0;
      font-weight: 300;
      text-align: left;
      color: $white;
      br {
        display: none;
      }
      @include media(576) {
        @include resa("max-width", 380px);
        @include resa("padding", 48px);
        @include resa("padding-top", 22px);
        @include resa("padding-bottom", 26px);
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
        @include resa("border-radius", 50px);
        border-bottom-left-radius: 0;
        text-align: center;
        br {
          display: block;
        }
      }
    }
    &-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include res("width", 60px);
      @include res("height", 60px);
      @include media(576) {
        @include resa("width", 60px);
        @include resa("height", 60px);
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
    &-slider {
      position: relative;
      @include res("top", -20px);
      @include res("max-width", 780px);
      @include res("height", 450px);
      @include media(576) {
        top: 0;
        @include resa("max-width", 380px);
        @include resa("height", 230px);
      }
      .videoSlider.swiper {
        width: 100%;
        height: 100%;
        @include res("border-radius", 50px);
        border-bottom-left-radius: 0;
        @include resa("--swiper-pagination-bottom", -2px);
        @include resa("--swiper-pagination-bullet-horizontal-gap", 5px);
        @include media(576) {
          border-radius: 0;
          @include resa("height", 230px);
        }
      }

      .videoSlider .swiper {
        &-slide {
          height: 100%;
          overflow: hidden;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media(576) {
            @include resa("height", 220px);
            @include resa("border-radius", 50px);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-pagination {
          display: none;
          @include media(576) {
            display: block;
          }
          &-bullet {
            opacity: 1;
            @include resa("width", 35px);
            @include resa("height", 2px);
            @include resa("border-radius", 2px);
            background-color: $grayLight;
            opacity: 1;
            &-active {
              background-color: $default;
            }
          }
        }
      }
    }
    &-navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      @include res("margin-top", 20px);
      @include res("gap", 50px);
      @include media(576) {
        display: none;
      }
    }
    &-next,
    &-prev {
      border-radius: 50%;
      overflow: hidden;
      @include res("width", 30px);
      @include res("height", 30px);
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__center {
    @include res("margin-top", 160px);
    display: flex;
    align-items: flex-start;
    @include media(576) {
      @include resa("margin-top", 62px);
      flex-direction: column;
    }
    &-img {
      @include res("width", 200px);
      @include media(576) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-title {
      @include res("margin-top", 10px);
      @include res("margin-left", 100px);
      @include res("font-size", 60px);
      @include res("line-height", 57px);
      font-weight: 700;
      text-align: left;
      @include res("max-width", 425px);
      @include media(576) {
        margin-top: 0;
        margin-left: 0;
        @include resa("font-size", 40px);
        @include resa("line-height", 48px);
        max-width: 100%;
      }
    }
    &-text {
      @include res("margin-top", 12px);
      @include res("margin-left", 35px);
      @include res("font-size", 18px);
      font-weight: 300;
      @include res("line-height", 22.5px);
      text-align: left;
      @include res("max-width", 420px);
      @include media(576) {
        max-width: 100%;
        margin-left: 0;
        @include resa("font-size", 18px);
        @include resa("line-height", 22.5px);
        @include resa("margin-top", 24px);
      }
    }
  }
  &__aim {
    @include res("margin-top", 104px);
    &-top {
      display: flex;
      justify-content: center;
      @include res("gap", 177px);
      @include media(576) {
        @include resa("gap", 15px);
        flex-direction: column;
      }
    }
    &-title {
      @include res("font-size", 22px);
      @include res("line-height", 27.5px);
      font-weight: 400;
      text-align: left;
      @include media(576) {
        @include resa("font-size", 22px);
        @include resa("line-height", 27.5px);
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      @include res("gap", 24px);
      @include res("max-width", 480px);
      @include media(576) {
        max-width: 100%;
        @include resa("gap", 16px);
      }
    }
    &-text {
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 300;
      text-align: left;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
    &-bottom {
      @include res("margin-top", 70px);
      display: flex;
      align-items: flex-start;
      @include res("gap", 80px);
      @include media(576) {
        @include resa("margin-top", 47px);
      }
      &.second {
        display: none;
        @include media(576) {
          display: block;
        }
        @include resa("margin-top", 35px);
        @include resa("margin-bottom", 43px);
        .first {
          display: block;
        }
      }
    }
    &-img {
      @include res("border-radius", 50px);
      border-bottom-left-radius: 0;
      overflow: hidden;
      &.first {
        @include res("width", 480px);
        @include res("height", 300px);
        @include media(576) {
          display: none;
          width: 100%;
          @include resa("height", 250px);
        }
      }
      &.second {
        @include res("margin-top", 90px);
        @include res("width", 680px);
        @include res("height", 400px);
        @include media(576) {
          width: 100%;
          margin-top: 0;
          @include resa("height", 250px);
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__wrapper {
    position: relative;
    &-img {
      position: absolute;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      &.first {
        @include res("top", 80px);
        @include res("right", 385px);
        @include res("width", 204px);
        @include res("height", 135px);
        @include media(576) {
          display: none;
        }
      }
      &.second {
        top: 0;
        @include res("right", 75px);
        @include res("width", 200px);
        @include res("height", 193px);
        @include media(576) {
          display: none;
        }
      }
      &.third {
        @include res("bottom", 64px);
        @include res("left", 60px);
        @include res("width", 202px);
        @include res("height", 189px);
        z-index: 3;
        @include media(576) {
          display: none;
        }
      }
      &.fourth {
        @include res("width", 114.5px);
        @include res("height", 124.5px);
        bottom: 0;
        left: 0;
        @include media(576) {
          display: none;
        }
      }
      &.fifth {
        z-index: 2;
        @include res("bottom", 90px);
        @include res("width", 257px);
        @include res("height", 246px);
        @include res("right", -20px);
        @include media(576) {
          display: none;
        }
      }
      &.sixth {
        @include res("top", 272px);
        @include res("left", 31px);
        @include res("width", 118px);
        @include res("height", 123px);
        @include media(576) {
          display: none;
        }
      }
      &.seventh {
        z-index: 1;
        right: 0;
        @include res("width", 128.5px);
        @include res("height", 112px);
        @include res("top", 351px);
        @include media(576) {
          display: none;
        }
      }
    }
  }
}

.standarts {
  @include res("margin-top", 152px);
  @include media(576) {
    @include resa("margin-top", 52px);
  }
  &-title {
    @include res("font-size", 40px);
    @include res("line-height", 48px);
    font-weight: 700;
    text-align: left;
    @include media(576) {
      @include resa("font-size", 40px);
      @include resa("line-height", 48px);
    }
  }
  &__header {
    @include res("margin-top", 32px);
    display: flex;
    align-items: flex-start;
    @include res("gap", 20px);
    @include media(576) {
      @include resa("margin-top", 24px);
      @include resa("gap", 15px);
      flex-direction: column;
    }
    &-text {
      @include res("max-width", 580px);
      @include res("font-size", 18px);
      @include res("line-height", 22.5px);
      font-weight: 300;
      text-align: left;
      @include media(576) {
        @include resa("max-width", 380px);
        @include resa("font-size", 18px);
        @include resa("line-height", 22.5px);
      }
    }
    &-subtext {
      @include res("margin-top", 4px);
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 300;
      text-align: left;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
  }
  &__list {
    @include res("margin-top", 52px);
    display: flex;
    @include res("gap", 20px);
    @include media(576) {
      @include resa("gap", 4px);
      @include resa("margin-top", 27px);
      flex-direction: column;
    }
    &-item {
      @include res("width", 380px);
      @include res("height", 181px);
      @include res("border-radius", 30px);
      @include res("border-width", 1px);
      border-color: $grayLight;
      border-style: solid;
      @include res("padding", 20px);
      display: flex;
      align-items: center;
      @include res("gap", 50px);
      @include media(576) {
        @include resa("padding", 36px);
        @include resa("padding-left", 30px);
        @include resa("width", 380px);
        @include resa("height", 181px);
        @include resa("border-radius", 30px);
        @include resa("border-width", 1px);
        @include resa("gap", 50px);
      }
    }
  }
  &__item {
    &-img {
      @include res("width", 110px);
      @include res("height", 110px);
      @include media(576) {
        @include resa("width", 110px);
        @include resa("height", 110px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
    }
    &-type {
      @include res("font-size", 12px);
      @include res("line-height", 15px);
      font-weight: 300;
      text-align: left;
      color: $gray;
      @include media(576) {
        @include resa("font-size", 12px);
        @include resa("line-height", 15px);
      }
    }
    &-names {
      @include res("margin-top", 13px);
      display: flex;
      flex-direction: column;
      @include res("height", 36px);
      @include media(576) {
        @include resa("margin-top", 13px);
        @include resa("height", 36px);
      }
      h3 {
        @include res("font-size", 14px);
        @include res("line-height", 17.5px);
        font-weight: 300;
        text-align: left;
        @include media(576) {
          @include resa("font-size", 14px);
          @include resa("line-height", 17.5px);
        }
      }
    }
    &-btn {
      @include res("margin-top", 18px);
      @include media(576) {
        @include resa("margin-top", 18px);
      }
    }
  }
}
