.catalog {
  @include res("margin-top", 48px);
  @include res("margin-bottom", 40px);
  @include media(576) {
    @include resa("margin-top", 47px);
    @include resa("margin-bottom", 15px);
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media(576) {
      flex-direction: column;
      align-items: center;
    }
    &-right {
      display: flex;
      align-items: center;
      @include res("gap", 130px);
      @include res("padding-top", 7px);
      @include media(576) {
        padding: 0;
        @include resa("margin-top", 30px);
        @include resa("gap", 15px);
      }
    }
    &-search {
      @include res("width", 380px);
      @include res("height", 50px);
      position: relative;
      @include media(576) {
        @include resa("width", 278px);
        @include resa("height", 50px);
      }
      input {
        width: 100%;
        height: 100%;
        @include res("border-radius", 30px);
        border-color: $grayMid;
        transition: 0.3s all;
        border-style: solid;
        @include res("border-width", 1px);
        @include res("padding-left", 20px);
        @include res("padding-right", 48px);
        @include res("font-size", 14px);
        @include res("line-height", 17.5px);
        font-weight: 300;
        text-align: left;
        @include media(576) {
          @include resa("border-width", 1px);
          @include resa("border-radius", 30px);
          @include resa("font-size", 14px);
          @include resa("line-height", 17.5px);
          @include resa("padding-left", 20px);
          @include resa("padding-right", 48px);
        }
        &::placeholder {
          color: $gray;
        }
        &:focus {
          border-color: $yellow;
        }
      }
      &:hover {
        input {
          border-color: $yellow;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        @include res("width", 48px);
        @include res("padding-top", 15px);
        @include res("padding-bottom", 15px);
        @include res("padding-right", 20px);
        @include media(576) {
          @include resa("width", 48px);
          @include resa("padding-top", 15px);
          @include resa("padding-bottom", 15px);
          @include resa("padding-right", 20px);
        }
      }
      svg {
        @include res("width", 20px);
        @include res("height", 20px);
        @include media(576) {
          @include resa("width", 20px);
          @include resa("height", 20px);
        }
      }
    }
    &-pricelist {
      display: flex;
      @include media(576) {
        display: none;
      }
      &.mob {
        display: none;
        @include media(576) {
          display: flex;
          margin: auto;
          @include resa("margin-top", 20px);
        }
      }
    }
    &-filter {
      display: none;
      @include res("gap", 10px);
      align-items: center;
      user-select: none;
      @include media(576) {
        @include resa("gap", 10px);
      }
      h3 {
        text-wrap: nowrap;
        @include res("font-size", 16px);
        @include res("line-height", 20px);
        font-weight: 400;
        text-align: left;
        color: $default;
        @include media(576) {
          @include resa("font-size", 14px);
          @include resa("line-height", 17.5px);
        }
      }
      svg {
        @include res("height", 24px);
        @include res("width", 24px);
        @include media(576) {
          @include resa("height", 24px);
          @include resa("width", 24px);
        }
      }
      @include media(576) {
        display: flex;
      }
    }
  }
  &-title {
    font-weight: 700;
    text-align: left;
    @include res("font-size", 40px);
    @include res("line-height", 48px);
    @include media(576) {
      text-align: center;
      @include resa("font-size", 40px);
      @include resa("line-height", 48px);
    }
  }
  &__wrapper {
    @include res("margin-top", 48px);
    display: flex;
    @include res("gap", 20px);
    @include media(576) {
      @include resa("margin-top", 20px);
    }
  }

  &__side {
    @include res("width", 280px);

    @include media(576) {
      position: fixed;
      left: 0;
      top: 0;
      transition: 0.4s all;
      transform: translateY(-100%);
      @include resa("width", 430px);
      position: fixed;
      background-color: $white;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 9999;
      @include resa("padding-left", 25px);
      @include resa("padding-right", 25px);
      @include resa("padding-bottom", 85px);
      &.active {
        transform: translateY(0);
      }
    }
    &-wrapper {
      @include res("width", 280px);
      @include media(576) {
        overflow-y: auto;
        @include resa("padding-top", 25px);
        height: 100%;
        width: 100%;
      }
    }
    &-exit {
      display: none;
      @include resa("gap", 10px);
      align-items: center;
      user-select: none;
      h3 {
        text-wrap: nowrap;
        font-weight: 400;
        text-align: left;
        color: $default;
        @include media(576) {
          @include resa("font-size", 14px);
          @include resa("line-height", 17.5px);
        }
      }
      svg {
        @include res("height", 24px);
        @include res("width", 24px);
        @include media(576) {
          @include resa("height", 24px);
          @include resa("width", 24px);
        }
      }
      @include media(576) {
        display: flex;
      }
    }
    &-show {
      position: absolute;
      @include resa("bottom", 25px);
      @include resa("left", 25px);
      @include resa("right", 25px);
      @include resa("max-width", 380px);
      width: 100% !important;
      display: none;
      @include media(576) {
        display: block;
      }
    }
    &-title {
      display: none;
      font-weight: 700;
      text-align: left;
      @include resa("margin-top", 23px);
      @include resa("font-size", 40px);
      @include resa("line-height", 48px);
      @include media(576) {
        display: block;
      }
    }
    &-select {
      display: flex;
      flex-direction: column;
      @include res("gap", 20px);
      @include res("padding-bottom", 46px);
      border-bottom-color: $grayLight;
      border-bottom-style: solid;
      @include res("border-width", 1px);
      @include media(576) {
        @include resa("gap", 20px);
        @include resa("padding-bottom", 46px);
        @include resa("border-width", 1px);
        @include resa("margin-top", 25px);
      }
    }
    &-types {
      @include res("margin-top", 30px);
      display: flex;
      flex-direction: column;
      @include res("gap", 10px);
      @include res("padding-bottom", 30px);
      border-bottom-color: $grayLight;
      border-bottom-style: solid;
      @include res("border-width", 1px);
      @include media(576) {
        @include resa("margin-top", 30px);
        @include resa("gap", 10px);
        @include resa("padding-bottom", 30px);
        @include resa("border-width", 1px);
      }
    }
    &-action {
      @include res("margin-top", 30px);
      @include media(576) {
        @include resa("margin-top", 30px);
      }
    }
  }
  &__select {
    @include res("padding-left", 30px);
    @include res("padding-right", 24px);
    @include res("border-radius", 30px);
    border-bottom-left-radius: 0;
    transition: 0.3s all;
    @include media(576) {
      @include resa("padding-left", 30px);
      @include resa("padding-right", 24px);
      @include resa("border-radius", 30px);
    }
    &.active {
      background-color: $beige;
    }
    &-btn {
      display: flex;
      align-items: center;
      @include res("gap", 10px);
      transition: 0.3s all;
      cursor: pointer;
      @include media(576) {
        @include resa("gap", 10px);
      }
      h3 {
        font-weight: 400;
        text-align: left;
        @include res("font-size", 16px);
        @include res("line-height", 20px);
        @include media(576) {
          @include resa("font-size", 16px);
          @include resa("line-height", 20px);
        }
      }
      &.active {
        @include res("padding-top", 24px);
        @include media(576) {
          @include resa("padding-top", 24px);
        }
        h3 {
          color: $default;
        }
        svg {
          path {
            fill: $default;
          }
        }
      }
    }
    &-arrow {
      transition: 0.2s all;
      @include res("width", 20px);
      @include res("height", 20px);
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(576) {
        @include resa("width", 20px);
        @include resa("height", 20px);
      }
      &.active {
        transform: rotate(180deg);
      }
      svg {
        @include res("width", 20px);
        @include res("height", 20px);
        @include media(576) {
          @include resa("width", 20px);
          @include resa("height", 20px);
        }
        path {
          fill: $black;
        }
      }
    }
    &-content {
      transition: 0.3s all;
      min-height: 0;
      height: 0;
      overflow: hidden;
    }
    &-list {
      @include res("padding-top", 22px);
      @include res("padding-bottom", 26px);
      display: flex;
      flex-direction: column;
      @include res("gap", 12px);
      @include media(576) {
        @include resa("padding-top", 22px);
        @include resa("padding-bottom", 26px);
        @include resa("gap", 12px);
      }
    }
    &-item {
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      cursor: pointer;
      font-weight: 300;
      text-align: left;
      transition: 0.3s all;
      &:hover {
        color: $yellow;
      }
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
  }
  &__content {
    @include res("width", 880px);
    @include media(576) {
      width: 100%;
    }
    &-banner {
      width: 100%;
      display: inline-block;
      @include res("height", 120px);
      @include res("border-radius", 30px);
      border-bottom-left-radius: 0;
      @include media(576) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-top {
      @include res("margin-top", 20px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include res("padding-bottom", 20px);
      border-bottom-color: $grayLight;
      border-bottom-style: solid;
      @include res("border-width", 1px);
      @include media(576) {
        display: none;
      }
    }
  }
  &__drop {
    &-btn {
      display: flex;
      align-items: center;
      @include res("gap", 10px);
      h3 {
        @include res("font-size", 12px);
        @include res("line-height", 15px);
        font-weight: 300;
        text-align: left;
      }
      svg {
        @include res("width", 20px);
        @include res("height", 20px);
      }
    }
  }
  &__list {
    @include res("margin-top", 20px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include res("row-gap", 50px);
    @include res("column-gap", 20px);
    @include media(576) {
      grid-template-columns: repeat(2, 1fr);
      @include resa("gap", 20px);
      margin-top: 0;
    }
  }
  &__item {
    background-color: $beige;
    width: 100%;
    @include res("border-radius", 50px);
    border-bottom-left-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include media(576) {
      @include resa("border-radius", 50px);
      border-bottom-left-radius: 0;
    }
    &-top {
      position: relative;
      width: 100%;
      @include res("width", 280px);
      @include res("height", 280px);
      @include res("padding", 10px);
      @include media(576) {
        @include resa("width", 180px);
        @include resa("height", 180px);
        @include resa("padding", 10px);
      }
    }
    &-img {
      z-index: 2;
      position: absolute;
      @include res("height", 260px);
      @include res("width", 260px);
      @include res("left", 10px);
      @include res("top", 10px);
      @include media(576) {
        @include resa("height", 160px);
        @include resa("width", 160px);
        @include resa("left", 10px);
        @include resa("top", 10px);
      }
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.3s all;
        &.active {
          opacity: 1;
        }
      }
    }
    &-zone {
      overflow: hidden;
      position: absolute;
      @include res("left", 10px);
      @include res("top", 10px);
      @include res("height", 260px);
      @include res("width", 260px);
      z-index: 3;
      @include res("padding-top-left-radius", 50px);
      @include res("padding-top-right-radius", 50px);
      @include media(576) {
        @include resa("left", 10px);
        @include resa("top", 10px);
        @include resa("height", 160px);
        @include resa("width", 160px);
        @include resa("padding-top-left-radius", 50px);
        @include resa("padding-top-right-radius", 50px);
      }
      span {
        display: inline-block;
        width: 25%;
        height: 100%;
      }
    }
    &-pagination {
      z-index: 3;
      position: absolute;
      display: flex;
      align-items: center;
      @include res("gap", 5px);
      @include res("left", 30px);
      @include res("bottom", 10px);
      @include media(576) {
        @include resa("gap", 5px);
        @include resa("left", 10px);
        @include resa("bottom", 10px);
      }
      span {
        transition: 0.3s all;
        display: inline-block;
        @include res("width", 10px);
        @include res("height", 2px);
        @include res("border-radius", 2px);
        background-color: $white;
        @include media(576) {
          @include resa("width", 10px);
          @include resa("height", 2px);
          @include resa("border-radius", 2px);
        }
        &.active {
          background-color: $default;
        }
      }
    }

    &-box {
      @include res("margin-top", 12px);
      @include res("padding-left", 40px);
      @include res("padding-right", 40px);
      @include res("padding-bottom", 36px);
      @include media(576) {
        @include resa("margin-top", 7px);
        @include resa("padding-left", 10px);
        @include resa("padding-right", 10px);
        @include resa("padding-bottom", 11px);
      }
    }
    &-title {
      font-weight: 500;
      @include res("font-size", 18px);
      @include res("line-height", 23px);

      text-align: left;
      @include media(576) {
        @include resa("font-size", 18px);
        @include resa("line-height", 23px);
      }
    }
    &-text {
      @include res("margin-top", 15px);
      font-weight: 300;
      @include res("font-size", 14px);
      @include res("line-height", 18px);

      text-align: left;
      @include media(576) {
        @include resa("margin-top", 15px);
        @include resa("font-size", 14px);
        @include resa("line-height", 18px);
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include res("margin-top", 40px);
      @include media(576) {
        @include resa("margin-top", 27px);
        @include resa("max-width", 140px);
      }
      h3 {
        @include res("font-size", 14px);
        @include res("line-height", 18px);
        font-weight: 300;
        color: $gray;
        @include media(576) {
          @include resa("font-size", 14px);
          @include resa("line-height", 18px);
        }
      }
    }
  }
  &__bottom {
    @include res("margin-top", 80px);
    display: flex;
    justify-content: space-between;
    @include res("padding-bottom", 30px);
    border-bottom-color: $grayLight;
    border-bottom-style: solid;
    @include res("border-width", 1px);
    @include media(576) {
      @include resa("margin-top", 35px);
      @include resa("border-width", 1px);
      @include resa("padding-bottom", 30px);
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    @include res("gap", 20px);
    @include media(576) {
      @include resa("gap", 30px);
    }
    &-arrow {
      svg {
        @include res("width", 20px);
        @include res("height", 20px);
        @include media(576) {
          @include resa("width", 20px);
          @include resa("height", 20px);
        }
      }
      &.left {
        svg {
          path {
            color: $grayMid;
          }
        }
      }
      &.right {
        svg {
          path {
            color: $default;
          }
        }
      }
    }
    &-list {
      display: flex;
      align-items: center;
      @include res("gap", 10px);
    }
    &-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @include res("width", 40px);
      @include res("height", 40px);
      @include res("border-radius", 10px);
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 300;
      text-align: center;
      color: $gray;
      @include media(576) {
        @include resa("width", 40px);
        @include resa("height", 40px);
        @include resa("border-radius", 10px);
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
        display: none;
        &.active {
          display: flex;
        }
      }
      &.active {
        font-weight: 600;
        background-color: $default;
        color: $white;
      }
    }
  }
}
