// Футер

.footer {
  @include res("margin-top", 110px);
  @include media(576) {
    @include resa("margin-top", 125px);
  }
  &-content {
    width: 100%;
    margin: 0 auto;
    @include res("max-width", 1360px);
    @include res("padding-left", 20px);
    @include res("padding-right", 20px);
    @include media(576) {
      @include resa("max-width", 430px);
      @include resa("padding-left", 25px);
      @include resa("padding-right", 25px);
    }
  }
  &-top {
    background-color: $beige;
    @include res("border-top-left-radius", 50px);
    @include res("border-top-right-radius", 50px);
    @include res("height", 80px);
    @include res("padding", 15px);
    @include res("padding-left", 70px);
    @include res("padding-right", 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(576) {
      @include resa("border-top-left-radius", 50px);
      @include resa("border-top-right-radius", 50px);
      padding: 0;
      @include resa("padding-bottom", 22px);
      @include resa("padding-left", 30px);
      @include resa("padding-right", 30px);
      flex-direction: column;
      height: auto;
      @include resa("gap", 30px);
    }
    &__left {
      display: flex;
      align-items: center;
      @include res("gap", 17px);
      @include media(576) {
        flex-direction: column;
        @include resa("gap", 26px);
      }
    }
    &__right {
      display: flex;
      align-items: center;
      @include res("gap", 80px);
      @include media(576) {
        @include resa("gap", 18px);
        flex-direction: column;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      @include res("gap", 106px);
      @include media(576) {
        flex-wrap: wrap;
        @include resa("row-gap", 24px);
        @include resa("column-gap", 30px);
        @include resa("margin-top", -25px);
      }
    }
  }
  &-address {
    display: flex;
    @include res("gap", 10px);
    align-items: center;
    @include media(576) {
      width: 100%;
      justify-content: center;
      @include resa("gap", 10px);
    }
    svg {
      fill: $gray;
      @include res("height", 20px);
      @include res("width", 20px);
      @include media(576) {
        @include resa("height", 20px);
        @include resa("width", 20px);
      }
    }
    h3 {
      color: $black;
      font-weight: 300;
      @include res("font-size", 12px);
      @include res("line-height", 15px);
      @include media(576) {
        @include resa("font-size", 12px);
        @include resa("line-height", 15px);
      }
    }
  }
  &-phone {
    display: flex;
    @include res("gap", 15px);
    align-items: center;
    svg {
      fill: $black;
      @include res("height", 20px);
      @include res("width", 20px);
      @include media(576) {
        @include resa("height", 20px);
        @include resa("width", 20px);
      }
    }
    h3 {
      font-weight: 400;
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      text-align: left;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
    @include media(576) {
      @include resa("gap", 15px);
    }
  }
  &-logo {
    display: inline-block;
    @include res("width", 112.83px);
    @include res("height", 80px);
    position: relative;
    transform: translateY(-50%);
    @include media(576) {
      @include resa("width", 70.5px);
      @include resa("height", 50px);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    @include res("gap", 20px);
    @include media(576) {
      @include resa("gap", 20px);
    }
    &-item {
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        @include res("height", 20px);
        @include res("width", 20px);
        @include media(576) {
          @include resa("height", 20px);
          @include resa("width", 20px);
        }
      }
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-bottom {
    background-color: $default;
    @include res("border-bottom-left-radius", 50px);
    @include res("border-bottom-right-radius", 50px);
    @include res("height", 110px);
    @include res("padding", 45px);
    @include res("padding-left", 70px);
    @include res("padding-right", 70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(576) {
      height: auto;
      @include resa("border-bottom-left-radius", 50px);
      @include resa("border-bottom-right-radius", 50px);
      justify-content: center;
      @include resa("padding", 38px);
    }
  }
  &__nav {
    &-list {
      display: flex;
      align-items: center;
      @include res("gap", 40px);
      @include media(576) {
        flex-direction: column;
        @include resa("gap", 20px);
      }
    }
    &-link {
      @include res("font-size", 16px);
      @include res("line-height", 20px);
      font-weight: 400;
      text-align: left;
      color: $white;
      @include media(576) {
        @include resa("font-size", 16px);
        @include resa("line-height", 20px);
      }
    }
  }
  &-email {
    display: flex;
    @include res("gap", 15px);
    align-items: center;
    svg {
      @include res("height", 20px);
      @include res("width", 20px);
      @include media(576) {
        @include resa("height", 20px);
        @include resa("width", 20px);
      }
    }
    h3 {
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 400;
      text-align: left;
      color: $white;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
    }
    &.mob {
      display: none;
      h3 {
        color: $black;
      }
      svg path {
        color: $black;
      }
    }
    @include media(576) {
      display: none;
      @include resa("gap", 15px);
      &.mob {
        display: flex;
      }
    }
  }
  &__list {
    @include res("margin-top", 15.5px);
    @include res("margin-bottom", 26.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(576) {
      @include resa("margin-top", 26px);
      @include resa("margin-bottom", 32px);
      flex-direction: column;
      @include resa("gap", 15px);
    }
    &-item {
      @include res("font-size", 14px);
      @include res("line-height", 17.5px);
      font-weight: 300;
      color: $gray;
      @include media(576) {
        @include resa("font-size", 14px);
        @include resa("line-height", 17.5px);
      }
      a {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}
