.partners {
  @include res("margin-top", 62px);
  @include res("padding-bottom", 140px);
  position: relative;
  @include media(576) {
    @include resa("margin-top", 26px);
    @include resa("padding-bottom", 28px);
  }
  &-item {
    position: absolute;
    @include res("width", 117px);
    @include res("height", 102px);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    @include media(576) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-title {
    @include res("font-size", 40px);
    @include res("line-height", 48px);
    font-weight: 700;
    text-align: left;
    @include media(576) {
      @include resa("font-size", 22px);
      @include resa("line-height", 27.5px);
      text-align: center;
    }
  }
  &__list {
    display: none;
    @include res("gap", 20px);
    flex-wrap: wrap;
    @include res("margin-top", 40px);
    &.first {
      display: flex;
    }
    @include media(576) {
      display: flex;
      margin-top: 0;
      &.first {
        display: none;
      }
    }
    &-item {
      @include res("height", 70px);
      @include res("border-radius", 10px);
      @include res("border-width", 1px);
      border-color: $grayLight;
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;

      @include res("font-size", 22px);
      @include res("line-height", 27.5px);
      font-weight: 400;
      text-align: center;
      color: $gray;
      transition: 0.2s all;
      &:hover {
        color: $black;
      }
      @include media(576) {
        color: $gray !important;
        @include resa("height", 70px);
        @include resa("border-radius", 10px);
        @include resa("border-width", 1px);
        @include resa("font-size", 22px);
        @include resa("line-height", 27.5px);
      }

      &.one {
        @include res("width", 180px);
      }
      &.two {
        @include res("width", 380px);
      }
      &.three {
        @include res("width", 307px);
      }
      &.four {
        @include res("width", 416px);
      }
      &.five {
        @include res("width", 480px);
      }
      &.six {
        @include res("width", 330px);
      }
      &.seven {
        @include res("width", 169px);
      }
      &.eight {
        @include res("width", 113px);
      }
      &.nine {
        @include res("width", 180px);
      }
      &.ten {
        @include res("width", 200px);
      }

      @include media(576) {
        &.one {
          @include resa("width", 150px);
        }

        &.two {
          @include resa("width", 350px);
        }

        &.three {
          @include resa("width", 180px);
        }

        &.four {
          @include resa("width", 230px);
        }

        &.five {
          @include resa("width", 430px);
        }

        &.six {
          @include resa("width", 300px);
        }

        &.seven {
          @include resa("width", 170px);
        }

        &.eight {
          @include resa("width", 105px);
        }

        &.nine {
          @include resa("width", 130px);
        }

        &.ten {
          @include resa("width", 370px);
        }
        &.eleven {
          @include resa("width", 155px);
        }
        &.twelve {
          @include resa("width", 380px);
        }
      }
    }
  }
  &-slider {
    @include resa("padding-left", 25px);
    @include resa("padding-right", 25px);
    @include resa("max-width", 430px);
    overflow: hidden;
    display: none;
    @include media(576) {
      display: block;
    }
  }
}

.partnerSwiper {
  @include resa("height", 272px);
  @include resa("margin-top", 34px);
  overflow: visible;
  .swiper {
    width: 100%;
    height: 100%;
    &-wrapper {
      position: relative;
    }
    &-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-pagination {
      @include res("left", -5px);
      position: relative;
      display: flex;
      // bottom: 0;
      // top: 0;
      &-bullet {
        --swiper-pagination-color: #e80029;
        --swiper-pagination-bullet-inactive-color: #f1f1f0;
        opacity: 1;
        @include media(576) {
          @include resa("width", 57.5px);
          @include resa("height", 2px);
          @include resa("border-radius", 2px);
          @include resa("--swiper-pagination-bottom", 0px);
          @include resa("--swiper-pagination-bullet-horizontal-gap", 5px);
        }
      }
    }
  }

  .partners {
    &-inner {
      width: 400%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
