mixin partners()
  section.partners
    .partners-item
      img(src="@img/pelmeni/item2.png" alt="item" draggable="false")
    .container 
      h2.partners-title Our partners
      .partners__list.first
        .partners__list-item.one Dodo pizza
        .partners__list-item.two Alpha Plaza Hotel & SPA
        .partners__list-item.two Panarams Tashkent Hotel
        .partners__list-item.one The Shahar
        .partners__list-item.three Asia Tashkent Hotel
        .partners__list-item.four Ariston Park | Tashkent
        .partners__list-item.four Crowne Plaza Tashkent
        .partners__list-item.five InterContinental Tashkent - IHG
        .partners__list-item.six Hotel Orient Plaza
        .partners__list-item.six Marriott tashkent hall
        .partners__list-item.five Ichan Qala Premium Class Hotel
        .partners__list-item.seven Korzinka
        .partners__list-item.seven Makro
        .partners__list-item.eight Bi1
        .partners__list-item.seven Baraka
        .partners__list-item.nine Havas
        .partners__list-item.ten Magnum
    .partners-slider 
      .swiper.partnerSwiper
        .swiper-wrapper 
          .swiper-slide 
          .swiper-slide 
          .swiper-slide 
          .swiper-slide 
          .partners-inner
            .partners__list 
              .partners__list-item.two Alpha Plaza Hotel & SPA
              .partners__list-item.four Dodo pizza
              .partners__list-item.five Ichan Qala Premium Class Hotel
              .partners__list-item.six Hotel Orient Plaza
              .partners__list-item.three Baraka

              .partners__list-item.eight Bi1
              .partners__list-item.ten Panarams Tashkent Hotel
              .partners__list-item.one Korzinka
              .partners__list-item.five InterContinental Tashkent - IHG
              .partners__list-item.six Asia Tashkent Hotel

              .partners__list-item.nine Havas
              .partners__list-item.seven Makro

              .partners__list-item.two Crowne Plaza Tashkent
              .partners__list-item.eleven The Shahar
              .partners__list-item.twelve Ariston Park | Tashkent
              .partners__list-item.six Marriott tashkent hall
              .partners__list-item.nine Magnum

        .swiper-pagination.partnerPagination
