mixin partners()
  section.partners
    .container 
      h2.partners-title Наши партнёры
      .partners__list 
        .partners__list-item.one Dodo pizza
        .partners__list-item.two Alpha Plaza Hotel & SPA
        .partners__list-item.two Panarams Tashkent Hotel
        .partners__list-item.one The Shahar
        .partners__list-item.three Asia Tashkent Hotel
        .partners__list-item.four Ariston Park | Tashkent
        .partners__list-item.four Crowne Plaza Tashkent
        .partners__list-item.five InterContinental Tashkent - IHG
        .partners__list-item.six Hotel Orient Plaza
        .partners__list-item.six Marriott tashkent hall
        .partners__list-item.five Ichan Qala Premium Class Hotel
        .partners__list-item.seven Korzinka
        .partners__list-item.seven Makro
        .partners__list-item.eight Bi1
        .partners__list-item.seven Baraka
        .partners__list-item.nine Havas
        .partners__list-item.ten Magnum